:root {
    --mainWhite: #f5f5f5;
    --mainGreen: #7fb800;
    --mainBlue: #0d2c54;
    --lightBlue: #00a6ed;
    --mainBlack: #333333;
}

.max-height {
    min-height: 80vh;
}

body {
    background: url("../img/3.jpg") center/cover fixed no-repeat;
    color: var(--mainWhite);
}

.heading{
    text-align: center;
    padding-top: 40px;
    
    
    
}
.main-container {
    border: 0.1rem solid var(--mainWhite);
    box-shadow: 0 0.5rem 0.5rem rgb(171 245 233 / 90%);
    border-radius: 0.2rem;
    background-color: rgb(133 183 218);

}

#counter {
    color: var(--mainGreen);
    font-size: 10rem;
    color: var(--mainBlack);
}

.prevBtn,
.nextBtn,
.resetBtn {
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.9);
    background: var(--mainBlue);
    color: var(--mainWhite);
}

.prevBtn:hover ,.resetBtn:hover, .nextBtn:hover{
    background: var(--lightBlue);
}

